h1 {
  margin: 0%;
}
.info {
  margin: 0%;
}
.profile {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}
.name {
  margin-left: 80px;
  font-size: 1rem;
}
.top {
  float: left;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
